extends layout

block content
  div(class="container containers")
    div(class="row")
      div(class="col-md-6")
        div(class="card")
          div(class="view overlay")
            img(alt="Card image cap" style="height:200px;" class="card-img-top" src="https://lh3.googleusercontent.com/u9E75CaIeZ3gpiLPWsQKrT_x8jle09rUWokICYuVHkOS6BrAqFtSMB1t64_XpIlpr1U")
            a
              div(class="mask rgba-white-slight")
          div(class="card-body elegant-color white-text rounded-bottom")
            h4(class="card-title") PPI Calculates
            hr(class="hr-light")
            p(class="card-text white-text mb-4") Some quick example text to build on the card title and make up the bulk of the card's content
            a(href="/calculatorPPI" class="white-text d-flex justify-content-end")
              h5 Calculate
                i(class="pl-3 fas fa-angle-double-right")
      div(class="col-md-6")
        div(class="card")
          div(class="view overlay")
            img(alt="Card image cap" style="height:200px;" class="card-img-top" src="https://s0.nxstatic.com/health/images/bmi-calculator-header.png")
            a
              div(class="mask rgba-white-slight")
          div(class="card-body elegant-color white-text rounded-bottom")
            h4(class="card-title") BMI Calculate
            hr(class="hr-light")
            p(class="card-text white-text mb-4") Some quick example text to build on the card title and make up the bulk of the card's content
            a(href="/calculatorBMI" class="white-text d-flex justify-content-end")
              h5 Calculate
                i(class="pl-3 fas fa-angle-double-right")
        
    div(class="row")
      div(class="col-md-6")
        div(class="card")
          div(class="view overlay")
            img(alt="Card image cap" style="height:200px;" class="card-img-top" src="https://lh3.googleusercontent.com/proxy/m-cNBF0xx092CVBYajnJG5DVIwsp2QDUe4Z25pRGpwNT8gAhHCBW-KodRbQbHVTlMyNvksPNZt0-1r-rlB3zK8-R_TtNn-bewVFujrS-St1qduy_P_sRnbX_xQGGpySx0jN4MQtiqeg4pZQ")
            a
              div(class="mask rgba-white-slight")
          div(class="card-body elegant-color white-text rounded-bottom")
            h4(class="card-title") Volume of a cylinder 
            hr(class="hr-light")
            p(class="card-text white-text mb-4") Some quick example text to build on the card title and make up the bulk of the card's content
            a(href="#!" class="white-text d-flex justify-content-end")
              h5 Calculate
                i(class="pl-3 fas fa-angle-double-right")
      div(class="col-md-6")
        div(class="card")
          div(class="view overlay")
            img(alt="Card image cap" style="height:200px;" class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQvTng0ZkyA-ayvzRlkz8tg1AfeubA9swWTzA0ULXHYD1ZN9dyN")
            a
              div(class="mask rgba-white-slight")
          div(class="card-body elegant-color white-text rounded-bottom")
            h4(class="card-title") Perimeter of rectangle
            hr(class="hr-light")
            p(class="card-text white-text mb-4") Some quick example text to build on the card title and make up the bulk of the card's content
            a(href="#!" class="white-text d-flex justify-content-end")
              h5 Calculate
                i(class="pl-3 fas fa-angle-double-right")
