extends layout

block content
  div(class="container containers")
    form(action="/calculatorPPI", method="post")
      input(type="text" id="inputIconEx2" class="form-control" name="height")
      label(for="phContent" ) pixel height
      
      input(type="text" id="inputIconEx2" class="form-control" name="width")
      label(for="pwContent" ) pixel width
      input(type="text" id="inputIconEx2" class="form-control" name="screensizeinches")
      label(for="dsContent" ) Diagonal Screen Size
      button(type="submit") calculate
  div(class="container containers")
    label Result : #{ppi}
    