extends layout

block content
  div(class="container containers")
    input(type="text" id="inputIconEx2" class="form-control" name="phtContent")
    label(for="phContent" ) pixel height
    
    input(type="text" id="inputIconEx2" class="form-control" name="pwtContent")
    label(for="pwContent" ) pixel width
    input(type="text" id="inputIconEx2" class="form-control" name="dstContent")
    label(for="dsContent" ) Diagonal Screen Size
    button(type="submit") calculate